fastapi==0.116.1
faster_whisper==1.1.1
ffmpeg_python==0.2.0
httpx==0.28.1
itsdangerous==2.2.0
openai==1.99.6
passlib==1.7.4
pydantic==2.11.7
python-dotenv==1.1.1
python_jose==3.5.0
SQLAlchemy==2.0.42
sqlmodel==0.0.24
sympy==1.14.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
psycopg[binary]==3.2.9
pydantic[email]